{% load static %}
{% load i18n %}
{% if special_projects %}
  <!-- Layihələr grid -->
  <div class="row g-4 portfolio-container justify-content-center wow fadeInUp" data-wow-delay="0.3s">
    {% for project in special_projects %}
      {% with translation=project.translations.first %}
        {% if translation %}
          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-inner rounded">
              {% if project.images.first %}
                <img class="img-fluid" src="{{ project.images.first.image.url }}" alt="{{ translation.description|truncatewords:5 }}">
              {% else %}
                <img class="img-fluid" src="{% static 'img/service-1.jpg' %}" alt="Default">
              {% endif %}
              <div class="portfolio-text">
                <h4 class="text-white mb-4">{{ translation.description|truncatewords:10 }}</h4>
                <div class="d-flex">
                  {% if project.images.all %}
                    <a class="btn btn-lg-square rounded-circle mx-2" href="{{ project.images.first.image.url }}" data-lightbox="project-{{ project.id }}"><i class="fa fa-eye"></i></a>
                    <!-- Hər layihənin bütün şəkillərini gizli link-lər kimi əlavə et -->
                    {% for image in project.images.all %}
                      {% if not forloop.first %}
                        <a href="{{ image.image.url }}" data-lightbox="project-{{ project.id }}" style="display: none;"></a>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                  {% if project.url %}
                    <a class="btn btn-lg-square rounded-circle mx-2" href="{{ project.url }}" target="_blank"><i class="fa fa-link"></i></a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endwith %}
    {% endfor %}
  </div>
{% else %}
  <div class="row g-4 text-center">
    <p class="text-muted">{% trans "Hazırda layihə mövcud deyil." %}</p>
  </div>
{% endif %}

